.cotacao {
	background: #f2f6f8
}
.cotacao-info {
	background: linear-gradient(to right, #8e83ee, #a768f4);
	padding: 1rem 1.5rem;
	overflow: hidden;
}
.cotacao-info-text {
	float: left;
	margin-left: 20px;
}
.cotacao-info-text small {
	font-size: .7rem
}
.cotacao-info-icon {
	float: left
}
.cotacao-info-user {
	width: 30px;
	height: 30px;
	float: right;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;	
}
.cotacao-info-user img {
	max-width: 100%
}
.step {
	padding: 1rem 1.5rem;
	overflow: hidden;
}
.step-number {
	display: block;
	width: 13px;
	height: 13px;
	border: 2px solid #a863f4; 
	padding: 5px;
	text-align: center;
	font-size: .8rem;
	color: #a863f4;
	float: left
}
.step-title {
	float: left;
	margin: 5px 20px
}
.page-action {
	position: absolute;
	padding: 1.5rem;
	bottom: 0;
	left: 0;
	right: 0;
}