.input-wrapper {
    position: relative;
}
.input-wrapper label {
    font-size: .7rem;
    color: #9ca5ac;
    position: absolute;
    top: .5rem;
    left: 1.5rem    
}
.input-wrapper input {
    border: none;
    width: calc(100% - 3rem);
    display: block;
    background: #FFF;
    padding: 1.5rem 1.5rem;
    font-size: 1.2rem;
    transition: background 0.15s ease-in-out    
}
.input-wrapper input:focus {
    outline: 0;
    background: #c5c9cb
}
.input-wrapper input:focus + label {
    color: #000;
}
.input-wrapper-validation {
    background: url('../../assets/images/checked.svg');
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -10px;
    fill: red;
    display: block;
    width: 20px;
    height: 20px;   
}